tap "1password/tap"
tap "aws/tap"
tap "dotzero/tap"
tap "blacktop/tap"
tap "derailed/k9s"
tap "gjbae1212/gossm"
tap "homebrew/autoupdate"
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/command-not-found"
tap "homebrew/services"
tap "kdash-rs/kdash"
tap "theykk/tap"
tap "txn2/tap"

brew "age"
brew "giflib"
brew "libpng"
brew "openssl@3"
brew "python@3.12"
brew "asciinema"
brew "autoconf"
brew "coreutils"
brew "unixodbc"
brew "asdf"
brew "aspell"
brew "pycparser"
brew "cffi"
brew "docutils"
brew "python@3.11"
brew "awscli"
brew "azcopy"
brew "bat"
brew "bettercap"
brew "bmon"
brew "bpytop"
brew "cairo"
brew "chezmoi"
brew "clamav"
brew "codespell"
brew "cointop"
brew "croc"
brew "ctags"
brew "ctop"
brew "diff-so-fancy"
brew "dog"
brew "wxwidgets"
brew "elixir-ls"
brew "exa"
brew "fd"
brew "openjdk"
brew "fop"
brew "fzf"
brew "gcc"
brew "gh"
brew "ghostscript"
brew "git"
brew "git-extras"
brew "gnu-sed"
brew "unbound"
brew "gnutls"
brew "gping"
brew "hasura-cli"
brew "helm"
brew "hyperfine"
brew "libheif"
brew "imagemagick"
brew "jpeg"
brew "jq"
brew "kubernetes-cli"
brew "krew"
brew "kube-linter"
brew "kubectx"
brew "kustomize"
brew "lazydocker"
brew "lazygit"
brew "pango"
brew "librsvg"
brew "libxslt"
brew "lua"
brew "lynis"
brew "make"
brew "minikube"
brew "neofetch"
brew "tree-sitter"
brew "neovim"
brew "nmap"
brew "pandoc"
brew "pkg-config"
brew "pnpm"
brew "python@3.10"
brew "ripgrep"
brew "rustup-init"
brew "sops"
brew "spatialindex"
brew "speedtest-cli"
brew "starship"
brew "tmate"
brew "tmux"
brew "tree"
brew "ttygif"
brew "wrk"
brew "zellij"
brew "zoxide"
brew "derailed/k9s/k9s"
brew "dotzero/tap/git-profile"
brew "kdash-rs/kdash/kdash"
brew "txn2/tap/kubefwd"

cask "1password"
cask "1password-cli"
cask "aws-vault"
cask "aws-vpn-client"
cask "datagrip"
cask "dbeaver-community"
cask "displaylink"
cask "docker"
cask "gpg-suite"
cask "keepingyouawake"
cask "latest"
cask "postman"
cask "raycast"
cask "rectangle"
cask "runjs"
cask "setapp"
cask "slack"
cask "visual-studio-code"
cask "warp"
cask "zoom"

# Install these on work machines only
{{- if eq .location "work" }}

{{- end }}

# Install these on macbook only
{{- if eq .chezmoi.hostname "ez" }}
  brew "azure-cli"
brew "rebar3"

  cask "affinity-designer"
  cask "alt-tab"
  cask "dbngin"
  cask "fantastical"
  cask "gitkraken"
  cask "google-cloud-sdk"
  cask "numi"
  cask "owasp-zap"
  cask "pgadmin4"
  cask "termius"
  cask "tunnelblick"
{{- end }}

